@page "/forecast"
@using ChartBlazorApp.Models;
@using StandardCommon
@code{
    private bool _debug = Constants.DEBUG_LEVEL > 0;
}
<div style="width: 100%">
<div class="chart-block" style="@(_userData.UseDetail ? "max-width: 100%" : null)">
<h4><span>新型コロナ</span> <span>重症者数グラフ</span> <span>@(_userData.UseDetail ? "（詳細設定使用）" : "")</span></h4>
<span>最大予測：@(_userData.MaxPredictSeriousDateStr)：@(_userData.MaxPredictSerious._formatComma())名</span>／<span>@(_userData.LastPredictDateStr)の予測値：@(_userData.LastPredictSerious._formatComma())名</span>
@*<span>（予測日：@(forecastData.PredictStartDateStr)）</span>*@
@* Chart の Canvas *@
<div class="scrollableChartWrapper" style="" id="chart-wrapper-serious">
    <div id="scrollWrapper-sc">
        <canvas id="seriousChart"></canvas>
    </div>
    <canvas id="sc-yAxis1" style="left: 0" width="0"></canvas>
    <canvas id="sc-yAxis2" style="right: 0" width="0"></canvas>
</div>
<div style="margin-top: 2px;"><span style="margin-left: 4px; font-size: small">
    ※青の縦線の日付は「年代別の陽性者割合」の最終行の日付</span></div> 
</div>

<div class="chart-block right-block" style="@(_userData.UseDetail ? "max-width: 100%" : null)">
<h4><span>新型コロナ</span> <span>累計死亡者数グラフ</span> <span>@(_userData.UseDetail ? "（詳細設定使用）" : "")</span></h4>
<span>@(_userData.LastPredictDateStr)の予測値：@(_userData.LastPredictDeath._formatComma())名</span> @*<span>（予測日：@(forecastData.PredictStartDateStr)）</span>*@
@* Chart の Canvas *@
<div class="scrollableChartWrapper" style="" id="chart-wrapper-death">
    <div id="scrollWrapper">
        <canvas id="deathChart"></canvas>
    </div>
    <canvas id="yAxis1" style="left: 0" width="0"></canvas>
    <canvas id="yAxis2" style="right: 0" width="0"></canvas>
</div>
<div style="margin-top: 2px;"><span style="margin-left: 4px; font-size: small">
    ※青の縦線の日付は「年代別の陽性者割合」の最終行の日付</span></div>
</div>
</div>

<div class="inline-wrapper" style="margin-top: 10px;">
    <label for="both-sum-diff">
        <input type="checkbox" name="both-sum-diff" id="both-sum-diff" @onchange="ShowOtherCharts" checked="@_showOtherCharts" />
        <span>その他グラフ</span>
    </label></div>

<div style="margin-top: 10px; display: @(_showOtherCharts ? "blcok" : "none"); width: 100%">
<div class="chart-block">
<span style="font-size: 1.25em;">日別死亡者数グラフ</span>
@* Chart の Canvas *@
<div class="scrollableChartWrapper" id="chart-wrapper-dailydeath">
    <div id="scrollWrapper-dd">
        <canvas id="dailyDeathChart"></canvas>
    </div>
    <canvas id="dd-yAxis1" style="left: 0" width="0"></canvas>
    <canvas id="dd-yAxis2" style="right: 0" width="0"></canvas>
</div>
</div>

<div class="chart-block right-block">
<span style="font-size: 1.25em;">重症者［実数－予測値］</span> @if (_debug) { <span>(@($"MSE={_userData.SeriousDiffMSE:f1}"))</span> }
@* Chart の Canvas *@
<div class="scrollableChartWrapper" id="chart-wrapper-seriousdiff">
    <div id="scrollWrapper-sf">
        <canvas id="bothChart"></canvas>
    </div>
    <canvas id="sf-yAxis1" style="left: 0" width="0"></canvas>
    <canvas id="sf-yAxis2" style="right: 0" width="0"></canvas>
</div>
</div>
</div>

<div style="margin-top: 10px; display: @(_showOtherCharts ? "blcok" : "none"); width: 100%">
<div class="chart-block">
<span style="font-size: 1.25em;">累計死亡者［実数－予測値］</span> @if (_debug) { <span>(@($"MSE={_userData.DeathDiffMSE:f1}"))</span> }
@* Chart の Canvas *@
<div class="scrollableChartWrapper" id="chart-wrapper-deathdiff">
    <div id="scrollWrapper-df">
        <canvas id="bothChart"></canvas>
    </div>
    <canvas id="df-yAxis1" style="left: 0" width="0"></canvas>
    <canvas id="df-yAxis2" style="right: 0" width="0"></canvas>
</div>
</div>

<div class="chart-block right-block">
<span style="font-size: 1.25em;">重症＋死亡者［実数－予測値］</span> @if (_debug) { <span>(@($"MSE={_userData.BothDiffMSE:f1}"))</span> }
@* Chart の Canvas *@
<div class="scrollableChartWrapper" id="chart-wrapper-bothsum">
    <div id="scrollWrapper-bs">
        <canvas id="bothChart"></canvas>
    </div>
    <canvas id="bs-yAxis1" style="left: 0" width="0"></canvas>
    <canvas id="bs-yAxis2" style="right: 0" width="0"></canvas>
</div>
</div>
</div>

@code{
    private static string[] _ages = new string[] { "＜10歳", "10代", "20代", "30代", "40代", "50代", "60代", "70代", "≧80歳" };
}

<div style="margin-top:20px">
<div class="table table-block">
<span class="h5">想定重症化率（@(forecastData.SeriousRatesByAges.UpdateDate.ToString("M月d日"))更新）</span>
<div class="tbl-scroll">
<table class="table">
    <thead>
        <tr style="text-align: center">
            <th>期日</th>
            @foreach (var age in _ages) { <th>@age</th> }
            <th>遡及日数</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var rates in forecastData.SeriousRatesByAges.DataSeriesList) {
            <tr style="text-align: right">
                <td>@(rates.Date.ToString("M月d日"))</td>
                @foreach (var rate in rates.DataSeries) {
                    <td>@String.Format("{0:f1}%", rate * 100)</td>
                }
                <td>@(rates.OffsetDays)</td>
            </tr>
        }
    </tbody>
</table>
</div>
</div>

<div class="table table-block">
<span class="h5">想定死亡率（@(forecastData.DeathRatesByAges.UpdateDate.ToString("M月d日"))更新）</span>
<div class="tbl-scroll">
<table class="table">
    <thead>
        <tr style="text-align: center">
            <th>期日</th>
            @foreach (var age in _ages) { <th>@age</th> }
            <th>遡及日数</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var rates in forecastData.DeathRatesByAges.DataSeriesList) {
            <tr style="text-align: right">
                <td>@(rates.Date.ToString("M月d日"))</td>
                @foreach (var rate in rates.DataSeries) {
                    <td>@String.Format("{0:f1}%", rate * 100)</td>
                }
                <td>@(rates.OffsetDays)</td>
            </tr>
        }
    </tbody>
</table>
</div>
</div>

<div class="table table-block" style="position: relative;">
<span class="h5">年代別の陽性者割合（直近3週間）</span>
<div class="tbl-scroll">
<table class="table">
    <thead>
        <tr style="text-align: center">
            <th>期日</th>
            @foreach (var age in _ages) { <th>@age</th> }
        </tr>
    </thead>
    <tbody>
        @foreach (var rates in forecastData.InfectRatesByAges.DataSeriesList.TakeLast(4)) {
            <tr style="text-align: right">
                <td>@(rates.Date.ToString("M月d日"))</td>
                @foreach (var rate in rates.DataSeries) {
                    <td>@String.Format("{0:f1}%", rate * 100)</td>
                }
            </tr>
        }
    </tbody>
</table>
</div>
<div style="position: absolute; bottom: 0px; margin-top: 2px;">
    <span style="margin-left: 20px; font-size: small">※最終行は直前@(forecastData.RateAveWeeks)週の平均</span></div> 
</div>

<div class="table-block">
<span class="h5">想定改善率（@(forecastData.RecoverRates.UpdateDate.ToString("M月d日"))更新）</span>
<table class="table">
    <thead>
        <tr style="text-align: center">
            <th>期日</th>
            <th>改善率</th>
            <th>遡及日数</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var rates in forecastData.RecoverRates.DataSeriesList) {
            <tr style="text-align: right">
                <td>@(rates.Date.ToString("M月d日"))</td>
                <td>@String.Format("{0:f1}%", rates.DataSeries[0] * 100)</td>
                <td>@(rates.OffsetDays)</td>
            </tr>
        }
    </tbody>
</table>
</div>

</div>

<div id="static-description2"></div>

