@page "/forecast"
@using ChartBlazorApp.Models;
@using StandardCommon
@code{
    private bool _debug = ConsoleLog.DEBUG_LEVEL > 0;
    private bool _adminFlag => _effectiveParams.AdminFlag;
}
<div style="width: 100%">
@{
    string addedStr = _userData.UseTimeMachine ? "（タイムマシン）" : _userData.UseFourStep ? "（多段階設定使用）" : "";
 }

@*重症者数グラフ*@
<div class="resp-inline-block" style="@(_fullWidthChart ? "display: block; max-width: 100%" : null)">
<p><span class="h4">新型コロナ</span> <span class="h4">重症者数グラフ</span> @if (addedStr._notEmpty()) { <span>@addedStr</span> }</p>
<span>@(_userData.LastRealDateStr)現在：@(_userData.RealSerious._last()._formatComma())名</span> <span>／</span>
    @if (_userData.MaxPredictSerious > _userData.FirstPredictSerious && _userData.MaxPredictSerious > _userData.LastPredictSerious){
        <span>@(_userData.MaxPredictSeriousDateStr)最大予測：@(_userData.MaxPredictSerious._formatComma())名</span> <span>／</span>
    }
    <span>@(_userData.ChartLabelLastDateStr)予測：@(_userData.LastPredictSerious._formatComma())名</span>
@*<span>（予測日：@(forecastData.PredictStartDateStr)）</span>*@
@* Chart の Canvas *@
<div class="scrollableChartWrapper" style="" id="chart-wrapper-serious">
    <div id="scrollWrapper-sc">
        <canvas id="seriousChart"></canvas>
    </div>
    <canvas id="sc-yAxis1" style="left: 0" width="0"></canvas>
    <canvas id="sc-yAxis2" style="right: 0" width="0"></canvas>
</div>
<div style="margin-top: 2px; margin-left: 4px;"><p class="small" style="line-height: 20px">
    ※「調整」は「想定重症化率」の適用開始日＋遡及日数、「更新」は同表の更新日</p></div>
<div class="inline-block-narrow-2" style="margin-left: 4px; line-height: 20px;">
    <p class="small darkred" style="margin: 0px; line-height: 20px">※グラフは左右にスクロールできます。なおグラフが表示されない場合は新しいタブを開いて試してみてください。</p></div>
</div>

<div class="@(_fullWidthChart ? "inline-wrapper" : "inline-wrapper-lt-1000")" style="margin-top: 10px;">
    <label for="thin-bar">
        <input type="checkbox" name="thin-bar" id="thin-bar" @onchange="ThinBar" checked="@_thinBar" />
        <span>細い棒グラフ</span>
    </label></div>
<div class="@(_fullWidthChart ? "inline-wrapper" : "inline-wrapper-lt-1000")" style="margin-top: 10px;">
    <label for="extend-disp-days">
        <input type="checkbox" name="extend-disp-days" id="extend-disp-days" @onchange="ExtendDispDays" checked="@_extendDispDays" />
        <span>延長表示</span>
    </label></div>
@if (_fullWidthChart) {
    <div class="inline-wrapper-ge-1000" style="margin-top: 10px;">
        <label for="one-lane">
            <input type="checkbox" name="one-lane" id="one-lane" @onchange="FullWidthChart" checked="@_fullWidthChart" />
            <span>全幅表示</span>
        </label></div>
}

@*死亡者数グラフ*@
<div class="resp-inline-block @(_fullWidthChart ? "mt-2" : "resp-right-2")" style="@(_fullWidthChart ? "display: block; max-width: 100%" : null)">
<p><span class="h4">新型コロナ</span> <span class="h4">累計死亡者数グラフ</span> @if (addedStr._notEmpty()) { <span>@addedStr</span> }</p>
<span>@(_userData.LastRealDateStr)現在：@(_userData.RealDeath._last()._formatComma())名</span> ／
    <span>@(_userData.ChartLabelLastDateStr)予測：@(_userData.LastPredictDeath._formatComma())名</span> @*<span>（予測日：@(forecastData.PredictStartDateStr)）</span>*@
@* Chart の Canvas *@
<div class="scrollableChartWrapper" style="" id="chart-wrapper-death">
    <div id="scrollWrapper">
        <canvas id="deathChart"></canvas>
    </div>
    <canvas id="yAxis1" style="left: 0" width="0"></canvas>
    <canvas id="yAxis2" style="right: 0" width="0"></canvas>
</div>
<div style="margin-top: 2px; margin-left: 4px;"><p class="small" style="line-height: 20px">
    ※「調整」は「想定死亡率」の適用開始日＋遡及日数、「更新」は同表の更新日</p></div>
</div>

</div>

<div id="forecast-desc1" style="margin-top: 10px;"></div>

@if (!_fullWidthChart) {
<div style="margin-top: 10px;">
    <div class="inline-wrapper-ge-1000" style="margin-top: 0px;">
        <label for="thin-bar">
            <input type="checkbox" name="thin-bar" id="thin-bar" @onchange="ThinBar" checked="@_thinBar" />
            <span>細い棒グラフ</span>
        </label></div>
    <div class="inline-wrapper-ge-1000" style="margin-top: 0px;">
        <label for="extend-disp-days">
            <input type="checkbox" name="extend-disp-days" id="extend-disp-days" @onchange="ExtendDispDays" checked="@_extendDispDays" />
            <span>延長表示</span>
        </label></div>
    <div class="inline-wrapper-ge-1000" style="margin-top: 0px;">
        <label for="one-lane">
            <input type="checkbox" name="one-lane" id="one-lane" @onchange="FullWidthChart" checked="@_fullWidthChart" />
            <span>全幅表示</span>
        </label></div>
</div>
}

<div style="margin-top: 10px; width: 100%">
<div class="resp-inline-block">
<span style="font-size: 1.25em;">日別死亡者数グラフ</span> <span>@(_userData.UseTimeMachine ? "（タイムマシン）" : _userData.UseFourStep ? "（多段階設定使用）" : "")</span>
@* Chart の Canvas *@
<div class="scrollableChartWrapper" id="chart-wrapper-dailydeath">
    <div id="scrollWrapper-dd">
        <canvas id="dailyDeathChart"></canvas>
    </div>
    <canvas id="dd-yAxis1" style="left: 0" width="0"></canvas>
    <canvas id="dd-yAxis2" style="right: 0" width="0"></canvas>
</div>
<div class="inline-wrapper-ge-1000" style="margin-top: 2px; margin-left: 4px;"><p class="small" style="line-height: 20px">　</p></div>
</div>

<div class="resp-inline-block resp-right">
<span style="font-size: 1.25em;">高齢層 陽性者数（週単位）</span>
@* Chart の Canvas *@
<div class="scrollableChartWrapper" id="chart-wrapper-highrisk">
    <div id="scrollWrapper-dd">
        <canvas id="highRiskChart"></canvas>
    </div>
    <canvas id="dd-yAxis1" style="left: 0" width="0"></canvas>
    <canvas id="dd-yAxis2" style="right: 0" width="0"></canvas>
</div>
<div style="margin-top: 2px; margin-left: 4px;"><p class="small" style="line-height: 20px">
    ※「高齢者率」は全年代の陽性者数に占める60歳以上の陽性者数の割合</p></div>
</div>
</div>

<div class="inline-wrapper" style="margin-top: 10px;">
    <label for="other-charts">
        <input type="checkbox" name="other-charts" id="other-charts" @onchange="ShowOtherCharts" checked="@_showOtherCharts" />
        <span>その他グラフ</span>
    </label></div>
<div class="inline-wrapper position-right" style="margin-top: 10px;">
    <label for="only-on-click">
        <input type="checkbox" name="only-on-click" id="only-on-click" @onchange="ChangeOnlyOnClick" checked="@(_onlyOnClick)" />
        <span>クリックで情報画面</span>
    </label></div>
@if (_adminFlag) {
    <div class="inline-wrapper my-0 position-right">
    <button class="btn btn-primary btn-sm py-0 px-1" @onclick="Reload">RELOAD</button>
    </div>
}

<div style="margin-top: 10px; display: @(_showOtherCharts ? "blcok" : "none"); width: 100%">
<div class="resp-inline-block">
<span style="font-size: 1.25em;">重症者［実数／予測値 乖離］</span> @if (_debug) { <span>(@($"MSE={_userData.SeriousDiffMSE:f1}"))</span> }
@* Chart の Canvas *@
<div class="scrollableChartWrapper" id="chart-wrapper-seriousdiff">
    <div id="scrollWrapper-sf">
        <canvas id="bothChart"></canvas>
    </div>
    <canvas id="sf-yAxis1" style="left: 0" width="0"></canvas>
    <canvas id="sf-yAxis2" style="right: 0" width="0"></canvas>
</div>
</div>

<div class="resp-inline-block resp-right">
<span style="font-size: 1.25em;">累計死亡者［実数／予測値 乖離］</span> @if (_debug) { <span>(@($"MSE={_userData.DeathDiffMSE:f1}"))</span> }
@* Chart の Canvas *@
<div class="scrollableChartWrapper" id="chart-wrapper-deathdiff">
    <div id="scrollWrapper-df">
        <canvas id="bothChart"></canvas>
    </div>
    <canvas id="df-yAxis1" style="left: 0" width="0"></canvas>
    <canvas id="df-yAxis2" style="right: 0" width="0"></canvas>
</div>
</div>
</div>

<div style="margin-top: 10px; display: @(_showOtherCharts ? "blcok" : "none"); width: 100%">
<div class="resp-inline-block">
<span style="font-size: 1.25em;">重症＋死亡者［実数／予測値 乖離］</span> @if (_debug) { <span>(@($"MSE={_userData.BothDiffMSE:f1}"))</span> }
@* Chart の Canvas *@
<div class="scrollableChartWrapper" id="chart-wrapper-bothsum">
    <div id="scrollWrapper-bs">
        <canvas id="bothChart"></canvas>
    </div>
    <canvas id="bs-yAxis1" style="left: 0" width="0"></canvas>
    <canvas id="bs-yAxis2" style="right: 0" width="0"></canvas>
</div>
</div>
</div>

@code{
    private static string[] _ages = new string[] { "＜10歳", "10代", "20代", "30代", "40代", "50代", "60代", "70代", "≧80歳" };
}

<div style="margin-top:20px">
<div class="table table-block">
<span class="h5">想定重症化率（@(forecastData.SeriousRatesByAges.UpdateDate.ToString("yyyy年M月d日"))更新）</span>
<div class="tbl-scroll">
<table class="table">
    <thead>
        <tr style="text-align: center">
            <th>適用開始日</th>
            @foreach (var age in _ages) { <th>@age</th> }
            <th>遡及日数</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var rates in forecastData.SeriousRatesByAges.DataSeriesList) {
            <tr style="text-align: right">
                <td>@(rates.Date.ToString("yy年M月d日"))</td>
                @foreach (var rate in rates.DataSeries) {
                    <td>@String.Format("{0:f1}%", rate * 100)</td>
                }
                <td>@(rates.OffsetDays)</td>
            </tr>
        }
    </tbody>
</table>
</div>
</div>

<div class="table table-block">
<span class="h5">想定死亡率（@(forecastData.DeathRatesByAges.UpdateDate.ToString("yyyy年M月d日"))更新）</span>
<div class="tbl-scroll">
<table class="table">
    <thead>
        <tr style="text-align: center">
            <th>適用開始日</th>
            @foreach (var age in _ages) { <th>@age</th> }
            <th>遡及日数</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var rates in forecastData.DeathRatesByAges.DataSeriesList) {
            <tr style="text-align: right">
                <td>@(rates.Date.ToString("yy年M月d日"))</td>
                @foreach (var rate in rates.DataSeries) {
                    <td>@String.Format("{0:f1}%", rate * 100)</td>
                }
                <td>@(rates.OffsetDays)</td>
            </tr>
        }
    </tbody>
</table>
</div>
</div>

<div class="table table-block" style="position: relative;">
<span class="h5">年代別の陽性者割合（直近3週間）</span>
<div class="tbl-scroll">
<table class="table">
    <thead>
        <tr style="text-align: center">
            <th>適用開始日</th>
            @foreach (var age in _ages) { <th>@age</th> }
        </tr>
    </thead>
    <tbody>
        @foreach (var rates in forecastData.InfectRatesByAges.DataSeriesList.TakeLast(4)) {
            <tr style="text-align: right">
                <td>@(rates.Date.ToString("yy年M月d日"))</td>
                @foreach (var rate in rates.DataSeries) {
                    <td>@String.Format("{0:f1}%", rate * 100)</td>
                }
            </tr>
        }
    </tbody>
</table>
</div>
@if (forecastData.RateAveWeeks > 0) {
    <div style="position: absolute; bottom: 0px; margin-top: 2px;">
        <span style="margin-left: 20px; font-size: small">※最終行は直前@(forecastData.RateAveWeeks)週の平均（推定開始日）</span></div> 
}
</div>

<div class="table-block">
<span class="h5">想定改善率（@(forecastData.RecoverRates.UpdateDate.ToString("yyyy年M月d日"))更新）</span>
<table class="table">
    <thead>
        <tr style="text-align: center">
            <th>適用開始日</th>
            <th>改善率</th>
            <th>遡及日数</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var rates in forecastData.RecoverRates.DataSeriesList) {
            <tr style="text-align: right">
                <td>@(rates.Date.ToString("yy年M月d日"))</td>
                <td>@String.Format("{0:f1}%", rates.DataSeries[0] * 100)</td>
                <td>@(rates.OffsetDays)</td>
            </tr>
        }
    </tbody>
</table>
</div>

</div>

<hr style="margin: 0.75rem 0em 0.75em 0em;"/>
<div id="forecast-description"></div>

