@page "/forecast"
@using ChartBlazorApp.Models;
@using StandardCommon
@code{
    private bool _debug = ConsoleLog.DEBUG_LEVEL > 0;
}
<div style="width: 100%">
<div class="chart-block" style="@(_fullWidthChart /*|| _userData.UseFourStep */ ? "max-width: 100%" : null)">
<h4><span>新型コロナ</span> <span>重症者数グラフ</span> <span>@(_userData.UseTimeMachine ? "（タイムマシン）" : _userData.UseFourStep ? "（4段階設定使用）" : "")</span></h4>
<span>@(_userData.LastRealDateStr)現在：@(_userData.RealSerious._last()._formatComma())名</span> <span>／</span>
    @if (_userData.MaxPredictSerious > _userData.LastPredictSerious){
        <span>@(_userData.MaxPredictSeriousDateStr)最大予測：@(_userData.MaxPredictSerious._formatComma())名</span> <span>／</span>
    }
    <span>@(_userData.LastPredictDateStr)予測：@(_userData.LastPredictSerious._formatComma())名</span>
@*<span>（予測日：@(forecastData.PredictStartDateStr)）</span>*@
@* Chart の Canvas *@
<div class="scrollableChartWrapper" style="" id="chart-wrapper-serious">
    <div id="scrollWrapper-sc">
        <canvas id="seriousChart"></canvas>
    </div>
    <canvas id="sc-yAxis1" style="left: 0" width="0"></canvas>
    <canvas id="sc-yAxis2" style="right: 0" width="0"></canvas>
</div>
<div style="margin-top: 2px;"><span style="margin-left: 4px; font-size: small">
    ※青の縦線の日付は「年代別の陽性者割合」の最終行の日付</span></div> 
</div>

<div class="chart-block right-block" style="@(_fullWidthChart /*|| _userData.UseFourStep */ ? "max-width: 100%" : null)">
<h4><span>新型コロナ</span> <span>累計死亡者数グラフ</span> <span>@(_userData.UseTimeMachine ? "（タイムマシン）" : _userData.UseFourStep ? "（4段階設定使用）" : "")</span></h4>
<span>@(_userData.LastRealDateStr)現在：@(_userData.RealDeath._last()._formatComma())名</span> ／
    <span>@(_userData.LastPredictDateStr)予測：@(_userData.LastPredictDeath._formatComma())名</span> @*<span>（予測日：@(forecastData.PredictStartDateStr)）</span>*@
@* Chart の Canvas *@
<div class="scrollableChartWrapper" style="" id="chart-wrapper-death">
    <div id="scrollWrapper">
        <canvas id="deathChart"></canvas>
    </div>
    <canvas id="yAxis1" style="left: 0" width="0"></canvas>
    <canvas id="yAxis2" style="right: 0" width="0"></canvas>
</div>
<div style="margin-top: 2px;"><span style="margin-left: 4px; font-size: small">
    ※青の縦線の日付は「年代別の陽性者割合」の最終行の日付</span></div>
</div>
</div>

<div style="margin-top: 10px;">
    <p>【日本集中治療医学会「<a href="https://www.jsicm.org/news/statement200401.html" target="_blank">新型コロナウイルス感染症（COVID-19）に関する理事長声明</a>」(2020/4/1)より】</p>
    <div class="less-indent">
    <p>「現在、本邦には約6,500床ほどのICUベッドがあると推定致しますが、約4倍のマンパワーが必要であること、他の重症患者の受け入れも必要であることを考えると、
    このままでは、実際に新型コロナウイルス感染症の重症患者を収容できるベッド数は<font class="darkred">1,000床にも満たない</font>可能性があります。」</p>
    </div>
    <div class="indent"><p style="margin-left: 1rem; font-size: small">
        ※現時点ではコロナ対応のICUベッド数は増加しているかと思いますが、それでも逼迫しつつあることは確かだろうと考えます。</p></div> 
 </div>

<div class="inline-wrapper" style="margin-top: 10px;">
    <label for="other-charts">
        <input type="checkbox" name="other-charts" id="other-charts" @onchange="ShowOtherCharts" checked="@_showOtherCharts" />
        <span>その他グラフ</span>
    </label></div>
<div class="inline-wrapper" style="margin-top: 10px;">
    <label for="thin-bar">
        <input type="checkbox" name="thin-bar" id="thin-bar" @onchange="ThinBar" checked="@_thinBar" />
        <span>細い棒グラフ</span>
    </label></div>
<div class="inline-wrapper" style="margin-top: 10px;">
    <label for="one-lane">
        <input type="checkbox" name="one-lane" id="one-lane" @onchange="FullWidthChart" checked="@_fullWidthChart" />
        <span>全幅表示</span>
    </label></div>
<div class="inline-wrapper position-right" style="margin-top: 10px;">
    <label for="extend-disp-days">
        <input type="checkbox" name="extend-disp-days" id="extend-disp-days" @onchange="ExtendDispDays" checked="@_extendDispDays" />
        <span>延長表示</span>
    </label></div>
@if (ConsoleLog.DEBUG_FLAG) {
    <div class="inline-wrapper my-0 position-right">
    <button class="btn btn-primary btn-sm py-0 px-1" @onclick="Reload">RELOAD</button>
    </div>
}

<div style="margin-top: 10px; display: @(_showOtherCharts ? "blcok" : "none"); width: 100%">
<div class="chart-block">
<span style="font-size: 1.25em;">日別死亡者数グラフ</span> <span>@(_userData.UseTimeMachine ? "（タイムマシン）" : _userData.UseFourStep ? "（4段階設定使用）" : "")</span>
@* Chart の Canvas *@
<div class="scrollableChartWrapper" id="chart-wrapper-dailydeath">
    <div id="scrollWrapper-dd">
        <canvas id="dailyDeathChart"></canvas>
    </div>
    <canvas id="dd-yAxis1" style="left: 0" width="0"></canvas>
    <canvas id="dd-yAxis2" style="right: 0" width="0"></canvas>
</div>
</div>

<div class="chart-block right-block">
<span style="font-size: 1.25em;">累計死亡者［実数／予測値 乖離］</span> @if (_debug) { <span>(@($"MSE={_userData.DeathDiffMSE:f1}"))</span> }
@* Chart の Canvas *@
<div class="scrollableChartWrapper" id="chart-wrapper-deathdiff">
    <div id="scrollWrapper-df">
        <canvas id="bothChart"></canvas>
    </div>
    <canvas id="df-yAxis1" style="left: 0" width="0"></canvas>
    <canvas id="df-yAxis2" style="right: 0" width="0"></canvas>
</div>
</div>
</div>

<div style="margin-top: 10px; display: @(_showOtherCharts ? "blcok" : "none"); width: 100%">
<div class="chart-block">
<span style="font-size: 1.25em;">重症者［実数／予測値 乖離］</span> @if (_debug) { <span>(@($"MSE={_userData.SeriousDiffMSE:f1}"))</span> }
@* Chart の Canvas *@
<div class="scrollableChartWrapper" id="chart-wrapper-seriousdiff">
    <div id="scrollWrapper-sf">
        <canvas id="bothChart"></canvas>
    </div>
    <canvas id="sf-yAxis1" style="left: 0" width="0"></canvas>
    <canvas id="sf-yAxis2" style="right: 0" width="0"></canvas>
</div>
</div>

<div class="chart-block right-block">
<span style="font-size: 1.25em;">重症＋死亡者［実数／予測値 乖離］</span> @if (_debug) { <span>(@($"MSE={_userData.BothDiffMSE:f1}"))</span> }
@* Chart の Canvas *@
<div class="scrollableChartWrapper" id="chart-wrapper-bothsum">
    <div id="scrollWrapper-bs">
        <canvas id="bothChart"></canvas>
    </div>
    <canvas id="bs-yAxis1" style="left: 0" width="0"></canvas>
    <canvas id="bs-yAxis2" style="right: 0" width="0"></canvas>
</div>
</div>
</div>

@code{
    private static string[] _ages = new string[] { "＜10歳", "10代", "20代", "30代", "40代", "50代", "60代", "70代", "≧80歳" };
}

<div style="margin-top:20px">
<div class="table table-block">
<span class="h5">想定重症化率（@(forecastData.SeriousRatesByAges.UpdateDate.ToString("yyyy年M月d日"))更新）</span>
<div class="tbl-scroll">
<table class="table">
    <thead>
        <tr style="text-align: center">
            <th>適用開始日</th>
            @foreach (var age in _ages) { <th>@age</th> }
            <th>遡及日数</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var rates in forecastData.SeriousRatesByAges.DataSeriesList) {
            <tr style="text-align: right">
                <td>@(rates.Date.ToString("yy年M月d日"))</td>
                @foreach (var rate in rates.DataSeries) {
                    <td>@String.Format("{0:f1}%", rate * 100)</td>
                }
                <td>@(rates.OffsetDays)</td>
            </tr>
        }
    </tbody>
</table>
</div>
</div>

<div class="table table-block">
<span class="h5">想定死亡率（@(forecastData.DeathRatesByAges.UpdateDate.ToString("yyyy年M月d日"))更新）</span>
<div class="tbl-scroll">
<table class="table">
    <thead>
        <tr style="text-align: center">
            <th>適用開始日</th>
            @foreach (var age in _ages) { <th>@age</th> }
            <th>遡及日数</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var rates in forecastData.DeathRatesByAges.DataSeriesList) {
            <tr style="text-align: right">
                <td>@(rates.Date.ToString("yy年M月d日"))</td>
                @foreach (var rate in rates.DataSeries) {
                    <td>@String.Format("{0:f1}%", rate * 100)</td>
                }
                <td>@(rates.OffsetDays)</td>
            </tr>
        }
    </tbody>
</table>
</div>
</div>

<div class="table table-block" style="position: relative;">
<span class="h5">年代別の陽性者割合（直近3週間）</span>
<div class="tbl-scroll">
<table class="table">
    <thead>
        <tr style="text-align: center">
            <th>適用開始日</th>
            @foreach (var age in _ages) { <th>@age</th> }
        </tr>
    </thead>
    <tbody>
        @foreach (var rates in forecastData.InfectRatesByAges.DataSeriesList.TakeLast(4)) {
            <tr style="text-align: right">
                <td>@(rates.Date.ToString("yy年M月d日"))</td>
                @foreach (var rate in rates.DataSeries) {
                    <td>@String.Format("{0:f1}%", rate * 100)</td>
                }
            </tr>
        }
    </tbody>
</table>
</div>
@if (forecastData.RateAveWeeks > 0) {
    <div style="position: absolute; bottom: 0px; margin-top: 2px;">
        <span style="margin-left: 20px; font-size: small">※最終行は直前@(forecastData.RateAveWeeks)週の平均</span></div> 
}
</div>

<div class="table-block">
<span class="h5">想定改善率（@(forecastData.RecoverRates.UpdateDate.ToString("yyyy年M月d日"))更新）</span>
<table class="table">
    <thead>
        <tr style="text-align: center">
            <th>適用開始日</th>
            <th>改善率</th>
            <th>遡及日数</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var rates in forecastData.RecoverRates.DataSeriesList) {
            <tr style="text-align: right">
                <td>@(rates.Date.ToString("yy年M月d日"))</td>
                <td>@String.Format("{0:f1}%", rates.DataSeries[0] * 100)</td>
                <td>@(rates.OffsetDays)</td>
            </tr>
        }
    </tbody>
</table>
</div>

</div>

<hr style="margin: 0.75rem 0em 0.75em 0em;"/>
<div id="forecast-description"></div>

