@page "/"
@using ChartBlazorApp.Models
@using Newtonsoft.Json
@using ChartBlazorApp.JsInteropClasses
@using StandardCommon
 
@*@inject IJSRuntime JSRuntime*@
@*@inject ChartBlazorApp.Models.DailyData dailyData*@

@code { 
    // グラフ表示の最終日
    private string _endDate = "2021/5/31";

    private const int _mainPrefNum = Constants.MAIN_PREF_NUM;

    private const int _favorPrefMax = Constants.FAVORITE_PREF_MAX;
}

<h4><span>新型コロナ</span> <span>陽性者数グラフ</span></h4>
  <div class="vertical-center" style="margin-top: 0.5em;">
    @* 全国、東京、大阪 *@
    @for (int i = 0; i < _mainPrefNum; ++i) {
        var v = _getTitle(i);
        <div class="inline-wrapper my-0">
        <div class="vertical-center">
        <label for="@v">
            <input type="radio" name="chart-data-id" id="@v" value="@i" @onchange="ChangeChart" checked="@(_radioIdx == i)"/>
            <span style="font-size: 1.25em; color: @(_radioIdx == i ? "darkgreen" : "rgb(30,30,30)"); font-weight: @(_radioIdx == i ? "bold" : "normal")">@v</span>
        </label>
        </div>
        </div>
    }
    @* 追加の道府県 *@
    @for (int i = 0; i < _favorPrefMax;  ++i) {
        int ridx = _mainPrefNum + i;
        var id = $"favorPref_{ridx}";
        <div class="inline-wrapper my-0" style="display: @(i < _favorPrefNum ? "inline-block" : "none")">
        <div class="vertical-center">
        <label for="@id">
            <input type="radio" name="chart-data-id" id="@id" value="@ridx" @onchange="ChangeChart" checked="@(_radioIdx == ridx)"/>
            <span style="font-size: 1.25em; color: @(_radioIdx == ridx ? "darkgreen" : "rgb(30,30,30)"); font-weight: @(_radioIdx == ridx ? "bold" : "normal")">@(_radioPrefName(ridx))</span>
        </label>
        </div>
        </div>
    }
    @* その他の府県 *@
    <div class="inline-wrapper my-0">
        <div class="vertical-center">
            <label for="他">
            <input type="radio" name="chart-data-id" id="他" value="@_selectorPos" @onchange="ChangeChart" checked="@(_radioIdx == _selectorPos)"/>
            <span style="font-size: 1.25em; color: @(_radioIdx == _selectorPos ? "darkgreen" : "rgb(30,30,30)"); font-weight: @(_radioIdx == _selectorPos ? "bold" : "normal")">他 </span>
            </label>
            @*<select class="mt-0 mb-1" style="padding: 1px" name="other-pref" value="@_prefIdx" @onchange="ChangePref" disabled="@(_radioIdx != _selectorPos)">*@
            <select style="margin-left: 4px; padding: 2px;" name="other-pref" value="@_prefIdx" @onchange="ChangePref">
                @for (int i = _mainPrefNum; i < _infectDataCount; ++i) { <option value="@i" selected="@(i == _prefIdx)">@_getTitle(i)</option> }
            </select>
            <button class="btn btn-primary btn-sm py-1 ml-2" style="padding: 0px 10px 0px 10px;" @onclick="MovePrefLeft" disabled="@(_radioIdx < _mainPrefNum || (_radioIdx == _mainPrefNum && _radioIdx < _selectorPos))"><div class="left-triangle"></div></button>
            <button class="btn btn-primary btn-sm py-1 ml-2" style="padding: 0px 10px 0px 10px;" @onclick="MovePrefRight" disabled="@(_radioIdx < _mainPrefNum || _radioIdx >= _selectorPos)"><div class="right-triangle"></div></button>
        </div>
    </div>
    <div class="inline-wrapper my-0 position-right">
    <button class="btn btn-primary btn-sm py-0 px-1" onclick="location.reload()">RELOAD</button>
    </div>
  </div>

@* Chart の Canvas *@
<div class="scrollableChartWrapper" id="chart-wrapper-home" style="margin-top: 10px;">
    <div id="scrollWrapper">
        <canvas id="myChart_0"></canvas>
    </div>
    <canvas id="yAxis1" style="left: 0" width="0"></canvas>
    <canvas id="yAxis2" style="right: 0" width="0"></canvas>
</div>

@code{ private string _fontColor(bool enabled) { return enabled ? null : "grey"; } }

<div class="vertical-align" style="margin-top: 1.0em; line-height: 1.5em">
    <div class="inline-wrapper-narrow">
        <label for="gompertz">
            <input type="checkbox" name="gompertz" id="gompertz" @onchange="RenderExpectationCurveMethod" checked="@(_drawExpectation)"  />
            <span>予想曲線</span>
        </label></div>
    <div class="inline-wrapper-narrow">
        <label for="estimated-bar">
            <input type="checkbox" name="estimated-bar" id="estimated-bar" @onchange="RenderEstimatedBarMethod" checked="@(_estimatedBar)" disabled="@(!_drawExpectation)" />
            <span class="@_fontColor(_drawExpectation)">推計陽性数</span>
        </label></div>
    
    <div class="inline-wrapper-narrow position-right-narrow">
        <label for="detail-settings">
            <input type="checkbox" name="detail-settings" id="detail-settings" @onchange="ShowDetailSettings" checked="@(_detailSettings)" disabled="@(!_drawExpectation || _fourstepSettings)" />
            <span class="@_fontColor(_drawExpectation)">利用者設定</span>
        </label></div>
    
    <div class="indent flex-box" style="display: @(_drawExpectation ? "flex" : "none")">
@code{
    private bool _easyDisable() => !_drawExpectation || _fourstepSettings;
    private bool _fourstepDisable() => !_drawExpectation || !_fourstepSettings;
    private string _changeDate() => _paramDate._parseDateTime().AddDays(_paramDaysToOne)._toDateString();
    private int findDecayFactor() {
        foreach ((var i, var v) in _decayFactors._enumerate()) {
            if (v == _paramDecayFactor) return i;
        }
        return 0;
    }
    private int findDecayFactorNext() {
        foreach ((var i, var v) in _decayFactors2._enumerate()) {
            if (v == _paramDecayFactorNext) return i + _decayFactors2Start;
        }
        return 0;
    }
}
        <div class="inline-wrapper with-border">
            @if (!_detailSettings) {
                <div class="inline-wrapper"><span class="@_fontColor(!_easyDisable())">基準日： @(_paramDate)</span></div>
                <div class="inline-wrapper position-right-responsive"><span class="@_fontColor(!_easyDisable())">変化日： @(_changeDate())</span></div>
                <div class="inline-wrapper position-right"><span class="@_fontColor(!_easyDisable())">変化日Rt： @(_paramEasyRt1) 　屈曲度： @(findDecayFactor())</span></div><br/>
                <div class="inline-wrapper position-right"><span class="@_fontColor(!_easyDisable())">次の目標Rt： @(_paramEasyRt2) 　次の屈曲度： @(findDecayFactorNext())</span></div>
            } else {
                <!-- 2段階設定 -->
                <div class="vertical-center">
                    <label for="easy">
                        <input type="radio" name="easy-or-fourstep" id="easy" value="easy" @onchange="ChangeEasyOrFourstepSettings" checked="@(!_fourstepSettings)" disabled="@(!_drawExpectation)"/>
                        <span class="@_fontColor(_drawExpectation)" style="font-weight: bold;">2段階設定</span>
                    </label>
                    <div class="position-right"><button class="btn btn-primary btn-sm py-0 px-1" @onclick="InitializeParams" disabled="@(_easyDisable())">@(!_easyDisable() && _cancellable ? "CANCEL" : "RESET")</button></div>
                </div>
                <div style="margin-top: 4px">
                <div class="inline-wrapper"><span class="@_fontColor(!_easyDisable())">基準日：</span>
                    <input type="text" class="text-date" value="@_paramDate" @onchange="ChangeExpectationParamDate" disabled="@(_easyDisable())"/></div>
                <div class="inline-wrapper"><span class="@_fontColor(!_easyDisable())">変化日までの日数：</span>
                    <input type="text" class="text-number-short" value="@_paramDaysToOne" @onchange="ChangeRtParamDaysToOne" disabled="@(_easyDisable())"/></div>
                @*<div class="inline-wrapper"><span class="@_fontColor(!_easyDisable())">目標Rtまでの日数：</span>
                    <input type="text" class="text-number-short" value="@_paramDaysToOne" @onchange="ChangeRtParamDaysToOne" disabled="@(_easyDisable())"/></div><br/>*@
                    <br/>
                    <div class="inline-wrapper"><span class="@_fontColor(!_easyDisable())">変化日Rt：</span>
                        <input type="text" class="text-number" value="@_paramEasyRt1" @onchange="ChangeRtParamEasyRt1" disabled="@(_easyDisable())"/>　</div>
                    <div class="inline-wrapper position-right"><span class="@_fontColor(!_easyDisable())">屈曲度：</span>
                    <select style="padding: 1px" name="decay-factory" value="@_paramDecayFactor" @onchange="ChangeRtParamDecayFactor" disabled="@(_easyDisable())">
                        @foreach ((var i, var v) in _decayFactors._enumerate()) {
                            <option value="@v" selected="@(v == _paramDecayFactor)">@i</option>
                        }
                    </select>
                    </div>
                </div>
                <div style="display: @(_detailSettings ? "block" : "none");">
                <hr class="narrow" />
                @*<div class="inline-wrapper">
                    <span class="@_fontColor(!_easyDisable())">Rtが目標値になってから：</span>
                    <input type="text" class="text-number-short" value="@_paramDaysToNext" @onchange="ChangeRtParamDaysToNext" disabled="@(_easyDisable())"/>
                    <span class="@_fontColor(!_easyDisable())">日後の</span></div><br/>*@
                <div class="inline-wrapper">
                    <span class="@_fontColor(!_easyDisable())">次の目標Rt：</span>
                    <input type="text" class="text-number" value="@_paramEasyRt2" @onchange="ChangeRtParamEasyRt2" disabled="@(_easyDisable())"/></div>
                <div class="inline-wrapper">
                    <span class="@_fontColor(!_easyDisable())">次の屈曲度：</span>
                    <select style="padding: 1px" name="decay-factory" value="@_paramDecayFactorNext" @onchange="ChangeRtParamDecayFactorNext" disabled="@(_easyDisable())">
                        @foreach ((var i, var v) in _decayFactors2._enumerate()) {
                            <option value="@v" selected="@(v == _paramDecayFactorNext)">@(i + _decayFactors2Start)</option>
                        }
                    </select></div>
                <hr class="narrow" style="background-color: silver"/>
                <div class="inline-wrapper">
                    <span class="@_fontColor(!_easyDisable())">予想曲線表示日数：</span>
                    <input type="text" class="text-number-short" value="@_extensionDays" @onchange="ChangeExtensionDays" disabled="@(_easyDisable())"/></div>
                @*<div class="inline-wrapper">
                    <span class="@_fontColor(!_easyDisable())">基準日検出遡及日数：</span>
                    <input type="text" class="text-number-short" value="@_localMaxRtDuration" @onchange="ChangeLocalMaxRtDuration" disabled="@(_easyDisable())"/></div>*@
                <div class="inline-wrapper">
                    <span class="@_fontColor(!_easyDisable())">Rt極値検出期間：</span>
                    <input type="text" class="text-number-short" value="@_extremeRtDetectDuration" @onchange="ChangeExtremeRtDetectDuration" disabled="@(_easyDisable())"/>
                    <span class="@_fontColor(!_easyDisable())">日</span></div>
                @*<div class="inline-wrapper">
                    <label for="use-on-forecast">
                        <input type="checkbox" name="use-on-forecast" id="use-on-forecast" @onchange="ChangeUseOnForecast" checked="@(_useOnForecast)" disabled="@(_radioIdx != 0)" />
                        <span class="@_fontColor(_radioIdx == 0)">重症死亡者数推計にこの設定を使用</span>
                    </label></div>*@
                </div>
            }
        </div>
        <!-- 4段階設定 -->
        <div class="inline-wrapper with-border" style="display: @(_detailSettings ? "block" : "none");">
            <div class="vertical-center">
                <label for="fourstep">
                    <input type="radio" name="easy-or-fourstep" id="fourstep" value="fourstep" @onchange="ChangeEasyOrFourstepSettings" checked="@(_fourstepSettings)" disabled="@(!_drawExpectation)"/>
                    <span class="@_fontColor(_drawExpectation)" style="font-weight: bold">4段階設定</span><br/>
                    </label>
                <div class="position-right"><button class="btn btn-primary btn-sm py-0" @onclick="InitializeFourstepParams" disabled="@(_fourstepDisable())">@(!_fourstepDisable() && _cancellable ? "CANCEL" : "RESET")</button></div>
            </div>
            <div class="inline-wrapper"><span class="@_fontColor(!_fourstepDisable())">基準日：</span>
                <input type="text" class="text-date" value="@_paramDateFourstep" @onchange="ChangeExpectationParamDateForestep" disabled="@(_fourstepDisable())"/> の</div><br/>
            <div class="inline-wrapper">
                <span class="no-color">さらに</span>
                <input type="text" class="text-number-short" value="@_paramDaysToRt1" @onchange="ChangeRtParamDaysToRt1" disabled="@(_fourstepDisable())"/>
                <span class="@_fontColor(!_fourstepDisable())">日後のRt：</span>
                <input type="text" class="text-number" value="@_paramRt1" @onchange="ChangeRtParamRt1" disabled="@(_fourstepDisable())"/></div><br/>
            <div class="inline-wrapper">
                <span class="@_fontColor(!_fourstepDisable())">さらに</span>
                <input type="text" class="text-number-short" value="@_paramDaysToRt2" @onchange="ChangeRtParamDaysToRt2" disabled="@(_fourstepDisable())"/>
                <span class="@_fontColor(!_fourstepDisable())">日後のRt：</span>
                <input type="text" class="text-number" value="@_paramRt2" @onchange="ChangeRtParamRt2" disabled="@(_fourstepDisable())"/></div><br/>
            <div class="inline-wrapper">
                <span class="@_fontColor(!_fourstepDisable())">さらに</span>
                <input type="text" class="text-number-short" value="@_paramDaysToRt3" @onchange="ChangeRtParamDaysToRt3" disabled="@(_fourstepDisable())"/>
                <span class="@_fontColor(!_fourstepDisable())">日後のRt：</span>
                <input type="text" class="text-number" value="@_paramRt3" @onchange="ChangeRtParamRt3" disabled="@(_fourstepDisable())"/></div><br/>
            <div class="inline-wrapper">
                <span class="@_fontColor(!_fourstepDisable())">さらに</span>
                <input type="text" class="text-number-short" value="@_paramDaysToRt4" @onchange="ChangeRtParamDaysToRt4" disabled="@(_fourstepDisable())"/>
                <span class="@_fontColor(!_fourstepDisable())">日後のRt：</span>
                <input type="text" class="text-number" value="@_paramRt4" @onchange="ChangeRtParamRt4" disabled="@(_fourstepDisable())"/></div>
            <!-- <div class="inline-wrapper"><button class="btn btn-primary btn-sm py-0" @onclick="InitializeDetailParams" disabled="@(_fourstepDisable())">RESET</button></div> -->
        </div>
    </div>
    @if (_drawExpectation && !_detailSettings) {
        <div class="indent">
            <p class="small">※上記は過去のRtの推移を基に自動的に計算したものです。将来において必ずしもこの通りに推移するわけではないことにご留意ください。</p>
        </div>
    }
</div>

<div class="vertical-align" style="margin-top: 0.5em; line-height: 1.5em">
    @* バーの太さを増減させるボタン*@
    <div class="inline-wrapper"><span>棒グラフの幅：</span>
        <button class="btn btn-primary btn-sm py-0" @onclick="RenderThinChartBarMethod">－</button>
        <span>[ @_barWidth ]</span>
        <button class="btn btn-primary btn-sm py-0" @onclick="RenderThickChartBarMethod">＋</button></div>
    @* 左Y軸の最大値を選択するドロップダウン *@
    <div class="inline-wrapper"><span>左Ｙ軸最大値：</span>
        <select style="padding: 1px" name="yAxisMax" value="@_yAxisMax" @onchange="ChangeYAxisMax">
            @for (int n = 100000; n > 50000; n -= 50000) { <option value="@n" selected="@(n == _yAxisMax)">@n</option> }
            @for (int n = 50000; n > 10000; n -= 10000) { <option value="@n" selected="@(n == _yAxisMax)">@n</option> }
            @for (int n = 10000; n > 5000; n -= 1000) { <option value="@n" selected="@(n == _yAxisMax)">@n</option> }
            @for (int n = 5000; n > 1000; n -= 500) { <option value="@n" selected="@(n == _yAxisMax)">@n</option> }
            @for (int n = 1200; n >= 1200; n -= 100) { <option value="@n" selected="@(n == _yAxisMax)">@n</option> }
            @for (int n = 1000; n >= 100; n -= 100) { <option value="@n" selected="@(n == _yAxisMax)">@n</option> }
            @for (int n = 50; n >= 20; n -= 30) { <option value="@n" selected="@(n == _yAxisMax)">@n</option> }
        </select></div>
    @* クリック時のみ反応する *@
    <div class="inline-wrapper">
        <label for="only-on-click">
            <input type="checkbox" name="only-on-click" id="only-on-click" @onchange="ChangeOnlyOnClick" checked="@(_onlyOnClick)" />
            <span>クリック時のみツールチップ表示</span>
        </label></div>
    @* 予想曲線を実数曲線より上に描画 *@
    <div class="inline-wrapper" style="display: @(_drawExpectation ? "inline-block" : "none")">
        <label for="exp-over-real">
            <input type="checkbox" name="exp-over-real" id="exp-over-real" @onchange="ChangeExpOverReal" checked="@(_expectOverReal)" />
        <span>予想曲線を前面に表示</span>
        </label></div>
    @* 推計陽性者数を表示する棒グラフの最小幅 *@
    @if (_drawExpectation && _estimatedBar) {
        <br/>
        <div class="inline-wrapper">
            <span>推計陽性者数 棒グラフの最小幅：</span>
            <select style="padding: 1px" name="est-bar-min-width" value="@_estimatedBarMinWidth" @onchange="RenderEstimatedBarMinWidthMethod">
                @for (int n = 4; n >= -4; --n) { <option value="@n" selected="@(n == _estimatedBarMinWidth)">@n</option> }
            </select></div>
    }
    @* 予測日の遡及 *@
    @if (_debugLevel > 0) {
        <br/>
        <div class="inline-wrapper">
            <span>予測遡及日：</span>
            <input type="text" class="text-date" value="@_predictBackDt" @onchange="ChangePredBackDays" /></div>
    }
    @* デバッグレベル *@
    @if (_debugLevel > 0) {
        <div class="inline-wrapper">
            <span>デバッグレベル：</span>
            <select style="padding: 1px" name="debug-level" value="@_debugLevel" @onchange="ChangeDebugLevel">
                @for (int n = 1; n <= 5; ++n) { <option value="@n" selected="@(n == _debugLevel)">@n</option> }
            </select></div>
    }
</div>

@*<div id="static-description" style="margin-top: 10px;"></div>*@

